.header {
    background-color: #212A3E;
}

.logo-header {
    margin-right: 700px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.logo-header:hover {
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.nav-item {
    background-color: #fff;
}

.nav-link {
    color: #F1F6F9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #212A3E;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 900;
    color: #f1f6f9;
    text-align: center;
}

.nav-link:hover {
    color: #8da9c4;
}
