.header {
    background-color: #f1f6f9;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px;
}

.logo-header {
    margin-right: 700px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.logo-header:hover {
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.nav-item {
    background-color: #f1f6f9;;
}

.nav-link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 900;
    text-align: center;
    color: #212A3E;
}

.nav-link:hover {
    color: #8da9c4;
}

.nav-link:active {
    color: #8da9c4;
}
